/* Global */


body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	width: 980px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
}

/* Helpers */
.clearfix {
	clear: both;
}

/* Big sections of content */
.section-content {
	width: 100%;
	overflow: hidden;
}


header {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid #7d97ad 3px;
    margin-bottom: 30px;
}

logo {
    width: 20%;
}

.logo span {
    line-height: 150px;
    display: inline-block;
    vertical-align: middle;
}

title {
    width: 80%;
    height: inherit;
}

.logo {
    width: 20%;
    height: inherit;
    color: black;
    font-size: 5em;
    text-align: left;

}

section {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    width: 100%;

}

.hero img {
    max-width: 100%;
}


.glyphicon {
    color: #02b3e4;
}

.glyphicon-briefcase {
    vertical-align: middle;
}

.title {
    text-align: right;
    width: 80%;
}

.hero {
    margin-bottom: 20px;
}

.fw-title h2 {
    text-align: left;
    COLOR: #7d97ad;
}

.futured-work {
    width: 100%;
}

.fw-title {
    width: 100%;
    margin-left: 0px;
}

figcaption {
    text-align: center;
    margin-bottom: 40px;
}

.col-4 {
    margin-left: auto;
    margin-right: auto;
}

.middle {
    margin-left: auto;
    margin-right: auto;
}

.img-responsive {
    max-width: 320px;
    -webkit-filter: brightness(90%);
}

